.special {
  border: 1px solid gray;
}

.special h2{
  padding-top: 10px;
  margin-right: 4%;
  margin-left: 4%;
  border-bottom: 1px solid gray;
}

.special img {
  padding-top: 20px;
  margin-right: 4%;
  margin-left: 8%;
}

.special_info {
  width: 100%;
  overflow: auto;
}

.special_items_top h3 {
  float: left;
  width: 80%;
  padding-top: 5px;
  padding-left: 4%;
}

.special_items_top p {
  float: right;
  padding-top: 5px;
  padding-right: 4%;
}

.special_items_bottom p {
  float: right;
  padding-left: 4%;
  padding-bottom: 7px;
}


//styling for menu
.menu {
  width: 100%;
  padding-left: 1%;
  overflow: auto;
}

.menu h2 {
  border-bottom: 1px solid black;
}

.menu h2 {
  padding-top: 25px;
  border-bottom: 1px solid black;
}

.menu_apps {
  padding-left: 1%;
}

.menu_entree {
  padding-left: 1%;
}

.menu_sides {
  padding-left: 1%;
}

.menu_top {
  overflow: auto;
  border-bottom: 1px dotted gray;
}

.menu_top h4 {
  float: left;
  margin-bottom: 0px;
  background-color: white;
}

.menu_top span {
  background-color: white;
  overflow: hidden;
}

.menu_top p {
  float: right;
  margin-bottom: 0px;
  background-color: white;
}
