.news {

  overflow: hidden;
  @include padding (0em 2% 0em 2%);

  li {
    list-style-type: none;
  }

  .news_box{
    @include margin (1.3em null 1.3em null);
  }

  .news_title{
    font-weight: bold;
  }

  .news_text{

  }

}
