.news {
  @include padding (0em 2% 0em 2%);
  background-color: HSLA(207, 10%, 92%, 1);
  overflow: scroll;

  li {
    list-style-type: none;
  }

  .news_box{
    @include margin (1.3em null 1.3em null);
}
  .news_title{
    font-weight: bold;
  }

  .read-more a {
    color: black;
  }

}

.photos{

  text-align: center;
  font-style: italic;
  font-size: 1.6em;

img {
  border: 0.1em solid black;
  border-radius: 0.18em;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

}

li:hover img{
    filter: none;
    opacity: 1;
}

}
