$cursive: 'Miss Fajardose', cursive;

// Hero Image

.branding {
  background-image: url('../images/header-img1.jpg');
  background-size: 100%;
  width: 100%;
  height: 500px;
  margin-bottom: 40px;

  .header {
    height: 100%;
    padding: 3% 0;
  }

  h1 {
    margin: 0;
  }

  .logo {
    color: #fff;
  }

  .headline {
    font-family: $cursive;
    font-size: 10em;
    text-align: center;
    color: #fff;
    opacity: 0.8;
    position: absolute;
    top:60%;
  }
}

// Tab Functionality
.tabs {

  & > div {
    display: none;
  }

  div.open {
    display: block;
  }
}

// Our Story Tab
.story {

  img {
    margin: 20px 0;
  }
}

// Menu Icons

.menu_bottom {
  overflow: auto;

  p {
    width: 80%;
    float: left;
  }

  .menu_icons {
    width: 19%;
    float: right;
    overflow: visible;

    li {
      position: relative;
      display: inline-block;
      overflow: visible;
      margin-bottom: 6px;

      &:hover div {
        display: block;
      }
    }

    span {
      display: inline-block;
      width: 15px;
      height: 15px;
    }

    div {
      background-color: black;
      color: white;
      width: auto;
      padding: 6px 10px;
      position: absolute;
      top: 24px;
      right: -4px;
      display: none;
      white-space: pre;

      &::after {
        content:"";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #000000 transparent;
        position: absolute;
        top: -5px;
        right: 7px;
      }
    }

    .allergies span {
      background: url('../images/signal5.svg');
      background-size: 100%;
    }

    .favorite span {
      background: url('../images/favorite21.svg');
      background-size: 100%;
    }

    .spicy span {
      background: url('../images/flame6.svg');
      background-size: 100%;
    }

    .vegan span {
      background: url('../images/broccoli.svg');
      background-size: 100%;
    }
  }
}

// Flickr Photos Section
.photos {

  ul {
    margin: 0;
    padding: 0;
  }


  li {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
  }
}

// Tab Header
.tab-header {
  padding-left: 0;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  margin-bottom: 40px;

  li {
    display: inline-block;
    padding: 20px;
    text-align: center;
    border: 0;
    margin-bottom: -1px;
  }

  li.open {
    border-left: 1px solid lightgrey; border-right: 1px solid lightgrey; border-top: 1px solid lightgrey;
    border-bottom: 1px solid #fff;
  }
}