$cursive: 'Miss Fajardose', cursive;

// Hero Image

.branding,
.branding2,
.branding3 {
  background-image: url('../images/header-img1.jpg');
  background-size: 100%;
  width: 100%;
  height: 500px;
  margin-bottom: 40px;
  position: relative;

  .header {
    height: 100%;
    padding: 3% 0;

    img {
      max-width: 90%;
    }
  }

  h1 {
    margin: 50px 0 0 0;
  }

  .headline {
    font-family: $cursive;
    font-size: 10em;
    text-align: center;
    color: #fff;
    opacity: 0.8;
    position: absolute;
    top:60%;
  }
}

.branding2 {
  background-image: url('../images/header-img2.jpg');

  .headline {
    color: black;
  }
}

.branding3 {
  background-image: url('../images/header-img3.jpg');
  color: black;

  .headline {
    color: black;
  }
}

// Tab Functionality
.tabs {

  & > div {
    display: none;
  }

  div.open {
    display: block;
  }
}

// Our Story Tab
.story {

  img {
    margin: 20px 0;
  }
}

// Menu Icons

.menu_bottom {
  overflow: auto;

  p {
    width: 80%;
    float: left;
  }

  .menu_icons {
    width: 19%;
    float: right;
    overflow: visible;

    li {
      position: relative;
      display: inline-block;
      overflow: visible;
      margin-bottom: 6px;

      &:hover div {
        display: block;
      }
    }

    span {
      display: inline-block;
      width: 15px;
      height: 15px;
    }

    div {
      background-color: black;
      color: white;
      width: auto;
      padding: 6px 10px;
      position: absolute;
      top: 24px;
      right: -4px;
      display: none;
      white-space: pre;

      &::after {
        content:"";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #000000 transparent;
        position: absolute;
        top: -5px;
        right: 7px;
      }
    }

    .allergies span {
      background: url('../images/signal5.svg');
      background-size: 100%;
    }

    .favorite span {
      background: url('../images/favorite21.svg');
      background-size: 100%;
    }

    .spicy span {
      background: url('../images/flame6.svg');
      background-size: 100%;
    }

    .vegan span {
      background: url('../images/broccoli.svg');
      background-size: 100%;
    }
  }
}

// Flickr Photos Section
.photos {

  ul {
    margin: 0;
    padding: 0;
  }


  li {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
  }
}

// Tab Header
.tab-header {
  padding-left: 0;
  border-bottom: 1px solid HSLA(0, 0%, 83%, 1);
  width: 100%;
  margin-bottom: 10px;
  background-color: HSLA(210, 10%, 92%, 1);

  li {
    display: inline-block;
    padding: 20px;
    border: 0;
    margin-bottom: -1px;
    text-align: center;
    font-size: 1.8em;
    border-radius: 0.2em;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }

  li.open {
    border-left: 1px solid HSLA(0, 0%, 83%, 1);
    border-right: 1px solid HSLA(0, 0%, 83%, 1);
    border-top: 1px solid HSLA(0, 0%, 83%, 1);
    border-bottom: 1px solid HSLA(200, 6%, 90%, 1);
  }
}

// Footer

.foot {
  max-width: 100%;

  .footer {
    clear: both;
    height: 60px;
    background-color: black;
    color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;

    span {
      font-size: 1.4em;
    }
  }
}
