$cursive: 'Miss Fajardose', cursive;

// Hero Image

.hero-image {
  height: 400px;
  overflow: hidden;
  position: relative;

  h1 {
    font-family: $cursive;
    font-size: 6em;
    position: absolute;
    bottom: 20px;
    left: 60px;
    text-align: center;
    margin: auto;
    height: auto;
    color: #fff;
    opacity: 0.8;
  }
}

// Tab Functionality
.tabs {

  & > div {
    display: none;
  }

  div.open {
    display: block;
  }
}

// Our Story Tab
.story {

  img {
    margin: 20px 0;
  }
}

// Menu Icons

.menu_bottom {
  overflow: auto;

  p {
    width: 80%;
    float: left;
  }

  .menu_icons {
    width: 19%;
    float: right;

    li {
      position: relative;
      display: inline-block;

      &:hover div {
        display: block;
      }
    }

    span {
      display: inline-block;
      width: 15px;
      height: 15px;
    }

    div {
      height: 30px;
      width: 60px;
      background-color: black;
      position: absolute;
      top: 20px;
      left: 50%;
      display: none;
    }

/*     .true {
  display: inline-block;
} */

    .allergies span {
      background-color: black;
    }

    .favorite span {
      background-color: blue;
    }

    .spicy span {
      background-color: red;
    }

    .vegan span {
      background-color: yellow;
    }
  }
}

// Flickr Photos Section
.photos {

  ul {
    margin: 0;
    padding: 0;
  }


  li {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
  }
}

// Tab Header
.tab-header {
  padding-left: 0;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  margin-bottom: 40px;

  li {
    display: inline-block;
    padding: 20px;
    text-align: center;
    border: 0;
    margin-bottom: -1px;
  }

  li.open {
    border-left: 1px solid lightgrey; border-right: 1px solid lightgrey; border-top: 1px solid lightgrey;
    border-bottom: 1px solid #fff;
  }
}