// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Our Partials
@import 'richard';
@import 'dean';
@import 'joanna';
@import 'john';

@import 'fonts';
@import 'colors';

// Custom Styles
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 62.5%;
}

ul {
  margin: 0;
}

img {
  max-width: 100%;
}

h5 {
  font-size: 1.4em;
  margin: 0;
  padding: 0 0 10px 0;
}

h3 {
  font-size: 1.2em;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.4em;
}
.container {
  @include outer-container;
  $mobile: new-breakpoint(max-width 600px 6);
  max-width: 960px;
  padding: 0 20px;
  overflow: auto;

// BRANDING
  .logo {
    @include span-columns(3);
    background-color: red;
  }

  .social {
    @include span-columns(3);
    @include shift(6);
    @include omega();
  }

  .hero-image {
    @include span-columns(12);
    margin-bottom: 40px;
  }

// 3 MIDDLE MODULES
  .middle-section {
    @include span-columns(12);
    @include omega(3n);

    @include media($mobile) {
      @include span-columns(6);
    }

    .news {
      @include span-columns(4 of 12);

      @include media($mobile) {
        @include span-columns(6 of 6);
      }
    }

    .special {
      @include span-columns(4 of 12);

      @include media($mobile) {
        @include span-columns(6 of 6);
      }
    }

    .location {
      @include span-columns(4 of 12);

      @include media($mobile) {
        @include span-columns(6 of 6);
      }
    }
  }

  .middle-section > div {
    border: 1px solid $grey;
    height: 300px;
    margin-bottom: 40px;
    padding: 1.6%;
    overflow: scroll;
  }

// BOTTOM
  .bottom {
    @include span-columns(12);

// TABS

    .tabs {
      @include span-columns(9 of 12);
      padding-right: 3%;
      
      @include media($mobile) {
        @include span-columns(4 of 4);
      }

      div {
        margin-bottom: 20px;
      }
    }

// FLICKR PHOTOS
    .photos {
      @include span-columns(3 of 12);
      @include omega();
      @include media($mobile) {
        $column: 4em;
        $gutter: 1em;
        @include span-columns(6 of 6);

        li {
          @include span-columns(2 of 6);
          @include omega(3n);
        }
      }
    }

  }

  .footer {
    @include span-columns(12);
  }
}
