// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Our Partials
@import 'richard';
@import 'dean';
@import 'joanna';
@import 'john';

@import 'fonts';
@import 'colors';

// Custom Styles
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: HSLA(203, 6%, 90%, 1);
  font-size: 62.5%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 14em;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0 0 20px 0;
  padding: 2%;
  background-color: black;
  border-radius: 0.2em;
  text-align: center;
  font-size: 1.4em;
  font-family: 'Josefin Slab', serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.2em;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.4em;
}

.container {
  @include outer-container;
  $medium: new-breakpoint(max-width 750px 12);
  $mobile: new-breakpoint(max-width 600px 6);
  max-width: 960px;
  width: 100%;
  padding: 0 20px;
  position: relative;

  @media (max-width: 450px) {
    padding: 0;
  }


// 3 MIDDLE MODULES
  .middle-section {
    @include span-columns(12);
    @include omega(3n);

    @include media($mobile) {
      @include span-columns(6);
    }

    .news {
      @include span-columns(4 of 12);

      @include media($mobile) {
        @include span-columns(6 of 6);
      }
    }

    .special {
      @include span-columns(4 of 12);

      @include media($mobile) {
        @include span-columns(6 of 6);
      }
    }

    .location {
      @include span-columns(4 of 12);

      @include media($mobile) {
        @include span-columns(6 of 6);
      }
    }
  }

  .middle-section > div {
    border: 1px solid $grey;
    height: 300px;
    margin-bottom: 40px;
    padding: 0 1.6% 1.6% 1.6%;
    border-radius: 0.2em;
    background-color: HSLA(207, 10%, 92%, 1);
    transition: background-color 0.5s ease;

    @media (max-width: 600px) {
      height: auto;
      padding: 0 2% 2% 2%;
    }

    &:hover {
      background-color: HSLA(207, 10%, 95%, 1);
      transition: background-color 0.5s ease;

      h5 {
        background-color: $red;
        transition: background-color 0.5s ease;
      }
    }

    &:hover .google {
      filter: grayscale(0);
    }

  }

  .middle-section h5 {
      margin: 0 0 18px 0;
      padding: 4% 2% 3% 2%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }


// BOTTOM

  .bottom {
    @include span-columns(12);
    clear: both;


// TABS

    .tabs {
      @include span-columns(9 of 12);
      background-color: HSLA(210, 10%, 92%, 1);
      transition: background-color 0.5s ease;


      @include media($mobile) {
        @include span-columns(4 of 4);
      }

      div {
        margin-bottom: 20px;
      }

      &:hover {
        background-color: HSLA(207, 10%, 95%, 1);
        transition: background-color 0.5s ease;

        .open {
          background-color: HSLA(207, 10%, 95%, 1);
          transition: background-color 0.5s ease;
        }

        h5 {
          background-color: $red;
          transition: background-color 0.5s ease;
        }
      }
    }

    .tabs > div {
      padding: 3% 3% 5% 3%;
      border: 1px solid HSLA(0, 0%, 83%, 1);
      border-radius: 0.2em;
      margin-bottom: 0;
    }

    .tabs > ul {
      background-color: HSLA(203, 6%, 90%, 1);
    }

    .tabs li.open {
      background-color: HSLA(210, 10%, 92%, 1);
    }


// FLICKR PHOTOS

    .photos {
      @include span-columns(3 of 12);
      @include omega();
      @include media($mobile) {
        $column: 4em;
        $gutter: 1em;
        @include span-columns(6 of 6);

        li {
          @include span-columns(2 of 6);
          @include omega(3n);
        }
      }
    }
  }
}


// CAROUSEL

.carousel {
  position: relative;
  text-align: center; }
  .carousel .previews {
    overflow: hidden;
    position: relative;
    width: 100%; }
    .carousel .previews .preview {
      display: none;
      position: relative;
      width: 100%;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      .carousel .previews .preview.active {
        top: 0;
        left: 0;
        display: block; }
        .carousel .previews .preview.active.nexting {
          left: -100%; }
        .carousel .previews .preview.active.preving {
          left: 100%; }
      .carousel .previews .preview.next {
        top: 0;
        left: 100%;
        display: block;
        position: absolute; }
        .carousel .previews .preview.next.nexting {
          left: 0; }
      .carousel .previews .preview.prev {
        top: 0;
        left: -100%;
        display: block;
        position: absolute; }
        .carousel .previews .preview.prev.preving {
          left: 0; }
      .carousel .previews .preview img {
        width: 100%;
        height: auto; }
  .carousel .controls .pages {
    position: absolute;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .carousel .controls .pages .page {
      width: 10px;
      height: 10px;
      margin: 5px;
      outline: none;
      cursor: pointer;
      display: inline-block;
      border-radius: 50%;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      background: rgba(0, 0, 0, 0.4); }
      .carousel .controls .pages .page:hover {
        background: rgba(0, 0, 0, 0.6); }
      .carousel .controls .pages .page .active {
        background: rgba(0, 0, 0, 0.8); }
  .carousel .controls .prev, .carousel .controls .next {
    font-size: 40px;
    font-weight: 200;
    line-height: 32px;
    text-decoration: none;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.4); }
    .carousel .controls .prev:hover, .carousel .controls .next:hover {
      color: white;
      background: rgba(0, 0, 0, 0.6); }
  .carousel .controls .prev {
    top: 50%;
    left: 20px; }
  .carousel .controls .next {
    top: 50%;
    right: 20px; }
  .carousel .controls .pages {
    bottom: 0;
    opacity: 0;
    filter: alpha(opacity=0); }
  .carousel .controls .prev {
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0); }
  .carousel .controls .next {
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0); }
  .carousel:hover .controls .pages {
    bottom: 0;
    opacity: 1;
    filter: alpha(opacity=100); }
  .carousel:hover .controls .prev {
    left: 20px;
    opacity: 1;
    filter: alpha(opacity=100); }
  .carousel:hover .controls .next {
    right: 20px;
    opacity: 1;
    filter: alpha(opacity=100); }
