<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>RestaurantTIY</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="container">

      <!-- BRANDING/HEADER -->

      <div class="branding">
        <div class="logo">
          <h1>LOGO</h1>
        </div>
        <ul class="social">
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
        </ul>
        <div class="hero-image">
          <img src="http://placehold.it/1024x300" alt="">
        </div>
      </div>

      <!-- END BRANDING/HEADER -->
      <!-- 3 MIDDLE BOXES -->

      <div class="middle-section">
        <div class="news">News</div>
        <div class="special">Special</div>

        <!-- OUR LOCATION SECTION -->

        <div class="location">
          <h5>Our Location</h5>
          <div class="google"> <!-- GOOGLE MAPS IFRAME INSERT -->
            <iframe
              width="100%" height="200"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?q=11101%2041st%20Ave%2C%20Flushing%2C%20NY%2011368%2C%20United%20States&key=AIzaSyCrNC4AETKT_7FVqnWvNuUy-fLn9zYTUHc">
            </iframe>
          </div> <!-- END OF GOOGLE MAPS -->
          <div class="contact">
            <address>11101 41st Ave, Flushing, NY 11368</address>
            <ul>
              <li><a href="tel:5555551234">555-555-1234</a></li>
              <li><a href=https://www.google.com/maps/@40.7511,-73.8554,16z?hl=en-US>Map</a></li>
              <li><a href="https://www.google.com/maps/dir/111-01+41st+Ave,+Flushing,+NY+11368/111-01+41st+Ave,+Flushing,+NY+11368/@40.751132,-73.855449,16z/data=!4m13!4m12!1m5!1m1!1s0x89c25fc499e378b9:0xc2e4c2fea050b416!2m2!1d-73.8554489!2d40.751132!1m5!1m1!1s0x89c25fc499e378b9:0xc2e4c2fea050b416!2m2!1d-73.8554489!2d40.751132?hl=en-US">Directions</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- END OF OUR LOCATION SECTION -->

      <!-- END 3 MIDDLE BOXES -->

      <div class="bottom">

        <!-- TAB SECTION -->

        <div class="tabs">
          <ul class="tab-header">
            <li id="story">Our Story</li>
            <li id="menu">Menu</li>
            <li id="reservations">Reservations</li>
          </ul>
          <div class="story open">
            Story
          </div>
          <div class="menu">
            <div class="menu_apps">
            </div>
            <div class="menu_entree">
            </div>
            <div class="menu_sides">
            </div>
          </div>
          <div class="reservations">
            Reservations
          </div>
        </div>

        <!-- END TAB SECTION -->
        <!-- FLICKR PHOTOS SECTION -->

        <div class="photos">
          <h3>Food Photos...</h3>
          <ul class="flickr">
            <li>
              <img src="http://placehold.it/300x300" alt="">
            </li>
            <li>
              <img src="http://placehold.it/300x300" alt="">
            </li>
            <li>
              <img src="http://placehold.it/300x300" alt="">
            </li>
            <li>
              <img src="http://placehold.it/300x300" alt="">
            </li>
            <li>
              <img src="http://placehold.it/300x300" alt="">
            </li>
          </ul>
        </div>

        <!-- FLICKR PHOTOS SECTION -->

      </div> <!-- .bottom -->

      <!-- FOOTER -->

      <div class="footer">Copyright 2014 Restaurant Name</div>

    </div> <!-- .container -->


    <!-- This is the news script -->

    <script id='news_call' type='text/template'>
          <li>
             <%= news_title %>
          </li>
          <li>
             <%= news_text %>
          </li>
    </script>





<!--Main menu template -->
    <script id="template_menu" type="text/template">
      <div class="menu_section">
            <h2></h2>
            <div class="menu_topBox">
              <h3><%= item %></h3>
              <p><%= price %></p>
            </div>

            <div class="bottomBox">
              <p><%=description %></p>
            </div>
      </div>
    </script>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <script src='scripts/token.js'></script>

        <!-- build:js scripts/main.js -->
        <script src='scripts/john.js'></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
