<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Fork &amp; Spoon</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link href='http://fonts.googleapis.com/css?family=Miss+Fajardose' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="container">

      <!-- BRANDING/HEADER -->

      <div class="branding">
        <div class="logo">
          <h1>LOGO</h1>
        </div>
        <ul class="social">
          <li class="intagram"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTDNOhaQplwBDiQOS-_s2U6lOW0ZRWDs2OFZ9ACgG31JQylI39j" height="30" alt="Instagram"/></li>
          <li class="twitter"><img src="http://buttonshut.com/links/twitter.png" height="30" alt="Twitter"/></li>
          <li class="facebook"><img src ="http://buttonshut.com/links/facebook.png" height="30" alt="Facebook"/></li>
        </ul>
        <div class="hero-image">
          <img src="images/header-img1.jpg" alt="">
          <h1>Fork &amp; Spoon</h1>
        </div>
      </div>

      <!-- END BRANDING/HEADER -->
      <!-- 3 MIDDLE BOXES -->

      <div class="middle-section">
        <div class="news">
          <h5>Latest News</h5>
        </div>
        <!--html for special section -->

        <div class="special">
          <h5>Today's Special</h5>
          <img src='http://placekitten.com/g/400/200'/>
          <div class="special_info">
          </div>
        </div>

        <!--end html for special section -->

      <!-- OUR LOCATION SECTION -->
        <div class="location">
          <h5>Our Location</h5>
          <div class="google"> <!-- GOOGLE MAPS IFRAME INSERT -->
            <iframe
              width="100%" height="200"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?q=11101%2041st%20Ave%2C%20Flushing%2C%20NY%2011368%2C%20United%20States&key=AIzaSyCrNC4AETKT_7FVqnWvNuUy-fLn9zYTUHc&zoom=15">
            </iframe>
          </div> <!-- END OF GOOGLE MAPS -->
          <div class="contact">
            <address>11101 41st Ave, Flushing, NY 11368</address>
            <ul>
              <li><a href="tel:5555551234">555-555-1234</a></li>
              <li><a href=https://www.google.com/maps/@40.7511,-73.8554,16z?hl=en-US>Map</a></li>
              <li><a href="https://www.google.com/maps/dir/111-01+41st+Ave,+Flushing,+NY+11368/111-01+41st+Ave,+Flushing,+NY+11368/@40.751132,-73.855449,16z/data=!4m13!4m12!1m5!1m1!1s0x89c25fc499e378b9:0xc2e4c2fea050b416!2m2!1d-73.8554489!2d40.751132!1m5!1m1!1s0x89c25fc499e378b9:0xc2e4c2fea050b416!2m2!1d-73.8554489!2d40.751132?hl=en-US">Directions</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- END OF OUR LOCATION SECTION -->

      <!-- END 3 MIDDLE BOXES -->

      <div class="bottom">

        <!-- TAB SECTION -->

        <div class="tabs">
          <ul class="tab-header">
            <li id="story" class="open">Our Story</li>
            <li id="menu">Menu</li>
            <li id="reservations">Reservations</li>
            <li id="comments">Comments</li>
          </ul>
          <div class="story open">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit in, laboriosam voluptatum mollitia a illo blanditiis quibusdam aliquid, explicabo perferendis libero? Rem a, excepturi facere doloribus aut qui, deleniti dolore!</p>
            <img src="images/story.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat optio iusto veniam, molestiae ullam labore neque quae cumque earum! Aspernatur iusto, tempore, rerum numquam quaerat libero aliquid molestias reiciendis quod?</p>
          </div>
<!--html for main menu -->
          <div class="menu">
            <h5>Our Dinner Selections...</h5>
              <h3>Appetizers</h3>
                <div class="menu_apps">
                </div>

              <h3>Entrees</h3>
                <div class="menu_entree">
                </div>

              <h3>Sides A La Carte</h3>
                <div class="menu_sides">
                </div>
          </div>
<!--End of menu section-->
          <div class="reservations">
            <h2>Reservations</h2>
            <h3>To make a reservation, please complete the form and click submit.</h3>
              <form id="booking" action="" method="post">
                <h6>Required fields are followed by <strong><abbr title="required">*</abbr></strong>:</h6>
                <section>
                  <p>
                    <label for="name" class="spacing">
                      <span>Name: </span>
                      <input type="text" id="name" name="fullName" required />
                      <strong><abbr title="required">*</abbr></strong>
                    </label>
                  </p>
                  <p>
                    <label for="guests">
                      <span>Number of Guests: </span>
                      <input type="number" id="guests" name="guestNumber" min="1" max="50" required />
                      <strong><abbr title="required">*</abbr></strong>
                    </label>
                  </p>
                  <p>
                    <label for="date">
                      <span>Date:</span>
                      <input type="text" id="date" name="date" required />
                      <strong><abbr title="required">*</abbr></strong>
                    </label>
                  </p>
                  <p>
                    <label for="time">
                      <span>Time:</span>
                      <input type="time" id="time" name="time" min="18:00" max="22:30" step="900" required />
                      <strong><abbr title="required">*</abbr></strong>
                    </label>
                  </p>
                  <p>
                    <label for="notes">
                      <span>Special Notes:</span>
                      <textarea class="noscrollbars" onkeyup="autoGrow(this);" id="notes" name="notes"></textarea>
                    </label>
                  </p>
                </section>
                <section>
                  <p>
                    <label for="seating">
                      <span>Seating Preference:</span>
                      <select required name="seating" id="seating">
                        <option value="">Please Select</option>
                        <option value="chefsTable">Chef's Table</option>
                        <option value="rooftop">Rooftop</option>
                        <option value="bar">Bar</option>
                        <option value="indoor">Indoor</option>
                      </select>
                    </label>
                  </p>
                </section>
                <section>
                  <p class="btnCon">
                    <input type="submit" id="sButton" value="Submit">
                  </p>
                </section>
              </form>
          </div>
          <div class="comments">
                <div id="disqus_thread"></div>
              <!-- DISQUS COMMENT PAGE -->
                  <script type="text/javascript">
                      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                      var disqus_shortname = 'fork-and-spoon'; // required: replace example with your forum shortname

                      /* * * DON'T EDIT BELOW THIS LINE * * */
                      (function() {
                          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                      })();
                  </script>
          </div>
        </div>

        <!-- END TAB SECTION -->
        <!-- FLICKR PHOTOS SECTION -->

        <div class="photos">
          <h3>Food Photos...</h3>
          <ul class="flickr">

          </ul>
        </div>

        <!-- END FLICKR PHOTOS SECTION -->

      </div> <!-- .bottom -->

      <!-- FOOTER -->

      <div class="footer">Copyright 2014 Restaurant Name</div>

    </div> <!-- .container -->
<!-- Specials script -->

    <!-- This is the news script -->

    <script id='news_call' type='text/template'>
          <div>
            <h3 class='news_title'>
               <%= news_title %>
            </h3>
            <p class='news_text'>
               <%= news_text %>
            </p>
          </div>
    </script>

<!--Specials template -->
    <script id="template_special" type="text/template">
            <div class="special_items_top">
              <h3><span><%= special_item %></span></h3>
              <p><span><%= special_price %></span></p>
            </div>
            <div class="special_items_bottom">
              <p><%= special_description %></p>
            </div>
    </script>

<!--Main menu template -->
    <script id="template_menu" type="text/template">
            <div class="menu_top">
              <h3><%= item %></h3>
              <p><%= price %></p>
            </div>

      <div class="menu_bottom">
        <p><%= description %></p>
        <ul class="menu_icons">
          <% if(allergies){ %>
            <li class="allergies">
              <span></span>
              <div>Warning! This dish contains known allergens.</div>
            </li>
          <% };
          if(favorite){ %>
            <li class="favorite">
              <span></span>
              <div>This dish is one of our favorites!</div>
            </li>
          <% };
          if(spicy){ %>
            <li class="spicy">
              <span></span>
              <div>Warning! This dish is spicy!</div>
            </li>
          <% };
          if(vegan){ %>
            <li class="vegan">
              <span></span>
              <div>This dish is vegan-friendly.</div>
            </li>
          <% }; %>
        </ul>
      </div>
    </script>

<!-- Photo template -->
    <script id='template_photos' type='text/template'>
      <li>
        <img src=' <%= food_photo %>'>
      </li>
    </script>



    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


        <!-- // <script src='scripts/token.js'></script> -->


        <!-- build:js scripts/main.js -->
        <script src='scripts/john.js'></script>
        <script src="scripts/jquery-ui.min.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
